.pagination {

    justify-content: center;

    align-items: center;

    width: fit-content;

    margin: 49px auto;

    background: white;

}



ul.pagination {

    display: flex;

    list-style: none;

    background: white;

    border: 1px solid lightgray;

    border-radius: 8px;

    padding: 8px;

}



ul.pagination li {

    width: 30px;

    display: flex;

    justify-content: center;

    font-size: 25px;

    position: relative;

}



ul.pagination li a {

    text-decoration: none;
    font-weight: 700;
    font-size: 20.8px;
    line-height: 25px;
    letter-spacing: 1.73333px;
    color: #70778B;
    min-height: 100%;
}

ul.pagination li.selected a {
    color: #5876C5;
}



ul.pagination li.selected:before {

    width: 100%;

    height: 3px;

    background: #337ab7;

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    margin-bottom: -8px;




}


ul.pagination li a:hover,

ul.pagination li a.active {

    color: #337ab7;

}



.page-selection {

    width: 48px;

    height: 30px;

    color: #337ab7;

}



.pagination-wrapper {

    display: flex;

    justify-content: space-between;

    margin-top: 10px;

}



.previous, .next {

    position: relative;

    font-weight: 700;

}



.previous {

    margin-right: 10px;

    padding-right: 8px;

}

.next {

    margin-left: 10px;

    padding-left: 8px;

}



.previous:before, .next:before {

    content: "";

    position: absolute;

    width: 1px;

    height: 100%;

    background: lightgray;

    top: 0;

}



.previous:before {

    right: 0;

}



.next:before {

    left: 0;

}

@media (min-width: 360px) and (max-width: 413px) {
    .App {
        background: rgba(230, 233, 242, 1);
}
    .items {
        background: rgba(230, 233, 242, 1);
        padding: 9px;
        margin: 0 auto;
}
    .item {
        background: #EFF0F5;
        padding: 5px;
        width: 80%;
        width: 345px;
        overflow: hidden;
}
    .item_content_logo {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
    .item_content_logo img {
        width: 60px;
        height: 60px;
    }
    .items {
        margin: 0;
        padding: 5px;
    }
    .item_content_text_title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
    }
    .item_content_text {
        width: 270px;
    }
    .item_extra {
        /* width: 125px;
        height: 17px;
        position: absolute;
        top: 2;
        right: 0; */
        display: none;
    }
    .item_extra img {
        display: none;
    }
    .item_rate {
        /* width: 54px;
        height: 10px;
        position: absolute;
        top: 2;
        left: 0; */
        display: none;
    }
    .job_details {
        display: block;
        width: 340px;
    }
    .title_block {
        display: block;
        width: 87%;
    }
    .title_block h1 {
        display: block;
        width: 100%;
    }
    .job_detail_wrapper {
        display: block;
        padding-top: 24px;
    }
    .job_contacts {
        width: 340px;
        margin: 20px auto;
        border: none;
    }
    .job_contacts_title {
        display: block;
        margin: 10px;
    }
    .job_contacts_title_divider {
        display: block;
        width: 95%;
        height: 1px;
        margin: 10px;
    }
    .job_details_header {
        display: block;
    }
    .job_details_header_wrapper {
        width: 100%;
    }
    .job_details {
        margin: 0 auto;
    }
    .job_detail_header_divider {
        display: none;
    }
    .job_detail_upper_button {
        display: none;
    }
    .job_detail_lower_item_adaptive {
        margin: 30px auto;
    }
    .job_detail_images_descr {
        margin-top: 20px;
    }
    .job_detail_images {
        display: block;
        margin: 0 auto 20px;
    }
    .job_detail_images div {
        width: fit-content;
        margin: 10px auto;
    }
    .button_back {
        display: none;
    }
    .salary_block {
        width: 100px;
    }
}
@media (min-width: 414px) and (max-width: 766px) {
    .App {
        background: rgba(230, 233, 242, 1);
}
    .items {
        background: rgba(230, 233, 242, 1);
        padding: 9px;
        margin: 0 auto;
}
    .item {
        background: #EFF0F5;
        padding: 5px;
}
    .item_content_logo {
        width: 66px;
        height: 66px;
        margin-right: 16px;
        margin-left: 16px;
    }
    .item_content_logo img {
        width: 66px;
        height: 66px;
    }
    .items {
        margin: 0;
        padding: 5px;
    }

    .item_content_text_title {
        /* max-width: 67%; */
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
    }
    .item_content_text {
        max-width: 70%;
        width: 70%;
    }
    .item_extra {
        /* width: 125px;
        height: 17px;
        position: absolute;
        top: 2;
        right: 0; */
        display: none;
    }
    .item_extra img {
        display: none;
    }
    .item_rate {
        /* width: 54px;
        height: 10px;
        position: absolute;
        top: 2;
        left: 0; */
        display: none;
    }
    .pagination {
        width: 100%;
    }
    .job_details {
        display: block;
        width: 340px;
    }
    .title_block {
        display: block;
        width: 87%;
    }
    .title_block h1 {
        display: block;
        width: 100%;
    }
    .job_detail_wrapper {
        display: block;
        padding-top: 24px;
    }
    .job_contacts {
        width: 340px;
        margin: 20px auto;
        border: none;
    }
    .job_contacts_title {
        display: block;
        margin: 10px;
    }
    .job_contacts_title_divider {
        display: block;
        width: 95%;
        height: 1px;
        margin: 10px;
    }
    .job_details_header {
        display: block;
    }
    .job_details_header_wrapper {
        width: 100%;
    }
    .job_details {
        margin: 0 auto;
    }
    .job_detail_header_divider {
        display: none;
    }
    .job_detail_upper_button {
        display: none;
    }
    .job_detail_lower_item_adaptive {
        margin: 30px auto;
    }
    .job_detail_images_descr {
        margin-top: 20px;
    }
    .job_detail_images {
        display: block;
        margin: 0 auto 20px;
    }
    .job_detail_images div {
        width: fit-content;
        margin: 10px auto;
    }
    .button_back {
        display: none;
    }
    .salary_block {
        width: 100px;
    }
}
@media (min-width: 767px) and (max-width: 1023px) {
    .items {
        margin: 0 10px;
    }
    .item_content_text {
        width: 420px;
    }
    .item_extra {
        min-width: 80px;
    }
    .job_detail_wrapper {
        display: block;
    }
    .job_contacts {
        margin: 20px auto;
    }
    .job_details_header_wrapper {
        width: 700px;
    }
    .job_details {
        margin: 0 auto;
    }
    .job_detail_header_divider {
        margin-bottom: 15px;
    }
    .job_detail_lower_button {
        margin-bottom: 30px;
    }
    .job_detail_images_descr {
        margin-top: 20px;
    }
    .job_detail_images {
        margin-bottom: 20px;
    }
    .button_back {
        margin: 0;
    }
    .salary_block {
        width: 100px;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .items {
        margin: 0 30px;
    }
    .item_content_text {
        width: 600px;
    }
    .item_extra {
        min-width: 100px;
    }
    .job_details_header_wrapper {
        width: 600px;
    }
    .job_details {
        margin-left: 5px;
        margin-right: 5px;
    }
    .job_contacts {
        margin-right: 5px;
    }
    .button_back {
        margin: 0;
    }
    .salary_block {
        width: 100px;
    }
}
@media (min-width: 1280px) and (max-width: 1535px) {
    .items {
        margin: 0 50px;
    }
    .item_content_text {
        width: 700px;
    }
    .job_details {
        margin-left: 30px;
        margin-right: 80px;
    }
    .job_contacts {
        margin-right: 30px;
    }
    .button_back {
        margin: 0;
    }
}
@media (min-width: 1536px) and (max-width: 1919px) {
    .items {
        margin: 0 150px;
    }
    .job_details {
        margin-left: 100px;
        margin-right: 100px;
    }
    .job_contacts {
        margin-right: 50px;
    }
    /* .button_back {
        margin: 0;
    } */
}